.mainContainer {
  width: auto;
  height: calc(100vh - 3px);
  margin: 0 auto;
  padding: 0;
  display: flex;
}

.mapContainer {
  flex: 1;
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
}
